



body {
    background: #eef2f7;
    font-family: Segoe UI,sans-serif;
}



.custom-navbar {
    background: #1e293b;
}

.navbar-brand {
    font-size: 24px;
}

.nav-link {
    color: white !important;
    margin-left: 15px;
}

    .nav-link:hover {
        color: #38bdf8 !important;
    }


.dashboard-header {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
}

    .dashboard-header h2 {
        font-weight: bold;
    }

    .dashboard-header p {
        color: gray;
        margin-top: 8px;
    }



.stat-box {
    color: white;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    transition: .3s;
}

    .stat-box:hover {
        transform: translateY(-5px);
    }

.blue {
    background: #2563eb;
}

.green {
    background: #16a34a;
}

.orange {
    background: #f59e0b;
}

.red {
    background: #dc2626;
}

.stat-box h2 {
    margin-top: 15px;
    font-size: 40px;
}



.draft-box {
    background: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
}

    .draft-box h1 {
        color: #2563eb;
        font-size: 55px;
    }



.action-card {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
    transition: .3s;
}

    .action-card:hover {
        transform: translateY(-5px);
    }

    .action-card h4 {
        margin-bottom: 15px;
    }

    .action-card p {
        color: gray;
        margin-bottom: 20px;
    }